{% extends "./index.html" %}

{% block services %}

{% load static %}

{% load i18n %}

<!-- templates/services.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <section>
        <!-- PRICING -->
        <div class="container-fluid my-5">
          <div class="text-container">
            <h2 class="text-center mt-5"style="color: #2E86C1;"><strong>{% trans "Nos prestations" %}</strong></h2>
            <!--<p>{% trans "Découvrez nos trois offres sur-mesure, conçues pour optimiser la performance de votre entreprise. Chaque solution est adaptée à vos besoins spécifiques et vous garantit un livrable concret pour améliorer votre efficacité opérationnelle."%}</p>-->
          </div>
        </div>
        <div class="container">
          <div class="row mb-5">

          </div>
            <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
                <div class="col col-lg-4">
                  <div class="card h-100 shadow-lg p-3 mb-5 bg-white" style="border-radius: 7%;">
                    <h5 class="card-header text-center">{% trans "Pilotage de performances" %}</h5>
                    <div class="card-body">   
                      <p class="card-text">
                      <!--PRESTATIONS BASIQUE-->
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          {% trans "Rapport décisionnel" %}
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          {% trans "Detection des pertes" %}                 
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          {% trans "gestion des risques de l'activité" %}
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          {% trans "Alertes et recommandations intelligentes" %}
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          {% trans "Simulations et prévisions de performances" %}
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          {% trans "Gestion des prix et simulations de stratégies de prix" %}
                        </label>
                      </div>
                      <!--FIN PRESTATIONS BASIQUE-->
                      </p>
                    </div>
                    <div class="card-footer text-center">
                      <a href="#" class="btn btn-primary">{% trans "Continuer avec cette l'offre pilotage de performances" %}</a>
                    </div>
                  </div>
                </div>
                <div class="col col-lg-4">
                  <div class="card h-100 shadow-lg p-3 mb-5 bg-white" style="border-radius: 7%;">
                    <h5 class="card-header text-center">{% trans "Automatisation & IA dans les process" %}</h5>
                    <div class="card-body" text-align="left">
                      <p class="card-text">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                          <label class="form-check-label" for="flexCheckChecked">
                            {% trans "Audit des process en places à faible valeur ajoutée" %}
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                          <label class="form-check-label" for="flexCheckChecked">
                            {% trans "Suivi du ROI de l'automatisation" %}
                          </label>
                        </div>
                      </p>
                      </div>    
                    
                    <div class="card-footer text-center">
                      <a href="#" class="btn btn-primary">{% trans "Continuer avec l'offre automatisation et IA" %}</a>
                    </div>
                  </div>
                </div>
                <div class="col col-lg-4">
                    <div class="card h-100 shadow-lg p-3 mb-5 bg-white" style="border-radius: 7%;">
                      <h5 class="card-header text-center">{% trans "Intelligence prédictive cash et stock" %}</h5>
                      <div class="card-body" text-align="left">
                      <p class="card-text">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                          {% trans "Prévision dynamique de trésorerie ( flux entrant/sortant, stress test)" %} 
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked disabled>
                        <label class="form-check-label" for="flexCheckChecked">
                          {% trans "Gestion prédictive de stock" %}
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked disabled>
                        <label class="form-check-label" for="flexCheckChecked">
                          {% trans "Simulation de scénarios (crise, opportunité, BAU)" %}
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked disabled>
                        <label class="form-check-label" for="flexCheckChecked">
                          {% trans "La supply-chain quantitative pour la gestion des stocks" %}
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked disabled>
                        <label class="form-check-label" for="flexCheckChecked">
                          {% trans "Pricing dynamique" %}
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked disabled>
                        <label class="form-check-label" for="flexCheckChecked">
                          {% trans "Simulation de stratégies de prix" %}
                        </label>
                      </div>
                    </p>
                    </div>
                    <div class="card-footer text-center">
                      <a href="#" class="btn btn-primary">{% trans "Continuer avec l'offre d'intelligence prédictive" %}</a>
                    </div>
                      </div>
                    </div>
                </div>
              </div>
                  <!--SAPCING-->
              <div class="row mb-5">

              </div>
            <div class="row mb-5">
            </div>
          <!--SAPCING-->
        </div>

        <!-- ------ -->


    </section>
</body>
</html>

{% endblock %}
